
<li *ngIf="!isUser" (click)="openLogin()" class="nav-item">
    <a class="nav-link" href="#section3">Log In</a>
</li>
<li *ngIf="!isUser" (click)="openSignUp()" class="nav-item">
    <a class="nav-link" href="#section4"> Sign Up</a>
</li>
<li *ngIf="isUser" (click)="logout()" class="nav-item">
    <a class="nav-link" href="#section5">Log Out</a>
</li>


