<div class="modal-header">
    <h4 class="modal-title">My Form</h4>
    <i type="button" class="fas fa-times" (click)="activeModal.dismiss('Cross click')"></i>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div class="modal-boy">
      <div class="container">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="google-auth-btn" (click)="googleLogin()"><img class="img-fluid"src="/assets/google-auth.png" alt="google.png"></button>
      <button class="fb-auth-btn" (click)="facebookLogin()"><img class="img-fluid"src="/assets/fb-auth.png" alt="fb.png"></button>
      <button class="btn btn-success"
        [disabled]="!myForm.valid">
        Submit Form
      </button>
    </div>
  </form>