<body>
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Sugar Fairy</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
             <a class="nav-link" href="#section1">About
<!-- This span and current indicates page -->
               <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#section2">Menu</a>
           </li>
           <!-- Popup a models -->
           <app-auth></app-auth>
           <!-- If logged in, show cart icon -->
            <li class="nav-item">
               <!-- Popup a model -->
             <a class="nav-link" href="#"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
           </li>
         </ul>
       </div>
     </nav>
     <div style="padding-top: 75px" id="section1">
          <h2>About</h2>
          <p>I'm about stuff and stuff</p>
          <p>Social media stuff here</p>
     </div>

     <div class="main" id="section2">
          <h2>Menu</h2>
          <p>More than likely the menu is not actually going here...maybe</p>
          <p>YES the color is intended to be like this to show the div, not for prod</p>
          <section id="menu" data-stellar-background-ratio="0.5">
               <div class="container">
                    <div class="row">
                         <div class="col-md-4 col-sm-6">
                              <div class="menu-thumb">
                                   <a  ng-href="assets/menu-image2.jpg" class="image-popup" title="Self-made Salad">
                                        <img src="assets/menu-image2.jpg" class="img-responsive" alt="">

                                        <div class="menu-info">
                                             <div class="menu-item">
                                                  <h3>Self-made Salad</h3>
                                                  <p>Green / Fruits / Healthy</p>
                                             </div>
                                             <div class="menu-price">
                                                  <span>$18</span>
                                             </div>
                                        </div>
                                   </a>
                              </div>
                         </div>
                    </div>
               </div>
          </section>
     </div>
     <div class="main" id="section3">
          <h2>Testing the Database</h2>
          <ul>
               <li class="text" *ngFor="let item of items | async">
                    {{item.name}}
               </li>
          </ul>
     </div>
</body>
