.google-auth-btn{
    width: 40px;
    height: 40px;
    background-color: white;
    border-style: none;
}
.google-auth-btn img{
    max-width: 100%;
    height: auto;
}

.fb-auth-btn{
    width: 40px;
    height: 40px;
    background-color: white;
    border-style: none;
}

.fb-auth-btn img{
    max-width: 100%;
    height: auto;
}